/*custom*/
@import url(../../assets/fonts/roboto/font.css);
body{
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav-text {
  color: #ffffff !important;
}

.nav-icon i, .navside .nav li {
  color: #ffffff !important;
}